<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="avatars" iconSize="128">
<svg><defs>
<g id="avatar-1"><rect fill="#6AC8F1" width="144.333" height="143.616"/>
<rect fill="#6AC8F1" width="122.111" height="117.354"/>
<path fill="#EBDEC3" d="M34.74,125.904c0,0,0.357-11.721-3.248-27.235C27.05,79.557,19.36,54.983,31.015,43.062
	c21.116-21.597,49.313-24.678,63.636-8.886c12.237,22.76,14.333,51.023,2.007,59.91c-12.326,8.886-14.906,4.3-14.906,4.3
	l1.72,34.971L34.74,125.904z"/>
<path fill="#D0B42A" d="M21.556,94.086c0,0-6.306-55.323,0-61.629s8.886-12.039,15.766-15.192s42.997-14.046,56.183,0
	c13.186,14.046,16.052,16.912,6.593,22.072s-47.583-7.166-51.31-7.166S34.74,42.203,34.74,42.203l7.741,32.104l-5.446-0.573
	l-7.453-20.352c0,0-4.938-2.58-3.615,5.733c1.322,8.313,8.774,37.264,8.774,37.264L21.556,94.086z"/>
<ellipse fill="#020203" cx="62.362" cy="58.224" rx="4.688" ry="4.904"/>
<circle fill="#010102" cx="88.375" cy="58.224" r="4.904"/>
</g>
<g id="avatar-2"><rect fill="#ECE870" width="132.646" height="126.334"/>
	<circle fill="#7F541B" cx="89.366" cy="46.321" r="26.654"/>
	<path fill="#EBDEC3" d="M34.74,125.904c0,0,0.357-11.721-3.248-27.235C27.05,79.557,19.36,54.983,31.015,43.062
		c21.116-21.597,49.313-24.678,63.636-8.886c12.237,22.76,7.041,50.938-5.285,59.824c-12.326,8.886-10.387,10-10.387,10
		l4.493,29.356L34.74,125.904z"/>
	<path fill="#7F541B" d="M29.582,53.382c0,0-4.938-2.58-3.615,5.733c1.322,8.313,4.985,37.264,4.985,37.264L19.308,67.688
		c0,0-4.059-28.925,2.248-35.231s8.886-12.039,15.766-15.192s32.964-9.976,46.15,4.07c13.186,14.046,9.808,11.428,7.174,13.333
		c-8.731,6.314-38.132-2.497-41.858-2.497S34.74,42.203,34.74,42.203"/>
	<ellipse fill="#020203" cx="62.362" cy="58.224" rx="4.688" ry="4.904"/>
	<circle fill="#010102" cx="88.375" cy="58.224" r="4.904"/>
	<circle fill="#7F541B" cx="29.855" cy="44.655" r="26.654"/>
	<path fill="#E8628F" d="M63.646,81.667l10-2.869c0,0,0.653,1.798,2.493,0s9.808,3.655,9.808,3.655S77.979,93.667,63.646,81.667z"/></g>
<g id="avatar-3"><rect x="-7.333" fill="#A87533" width="145.292" height="126.334"/>
	<path fill="#41AB34" d="M33.862,59.132c0,0-18.116-10.107-30.783-7.449s-8.884,4.986-8.884,4.986s9-5.277,24.667,14.64
		c3.542,4.502,12.667,7.125,12.667,7.125s-5.843,23.498,8.491,28.018s3.029,22.423,3.272,24.55
		c0.243,2.127,48.334,0.279,48.334,0.279l-1.188-21.946c0,0,16.915-7.787,12.644-19.031s11.113-30.386,12.446-29.854
		c1.333,0.532,10.667,3.733,10.667,3.733s-5-16.027-12-14.887c-7,1.14-25,7.443-25,7.443S67.528,37.598,33.862,59.132z"/>
	<ellipse fill="#020203" cx="60.62" cy="80.143" rx="4.688" ry="4.904"/>
	<circle fill="#010102" cx="84.536" cy="80.143" r="4.904"/>
	<path fill="#7F541B" d="M10.293,131.667c0,0,29.666-17.667,39-17.333s12.687,7.357,18,12.669s12.626-15.012,22.146-12.674
		s40.521,19.029,40.521,19.029l-63-0.762L10.293,131.667z"/></g>
<g id="avatar-4"><rect fill="#A9191C" width="138.605" height="126.334"/>
	<path d="M6.438,126.538c0,0,29.665-18.326,38.999-17.98c9.334,0.346,13.5,1.565,18.813,7.075s11.812-9.506,21.333-7.08
		c9.521,2.425,40.521,19.739,40.521,19.739l-63-0.791L6.438,126.538z"/>
	<path fill="#020202" d="M57.074,16.586c6.087,0,12.174,0,18.262,0c1.57,0.27,3.154,0.481,4.711,0.819
		c12.653,2.749,22.304,14.653,22.373,27.585c0.022,4.213-0.008,8.427,0.021,12.64c0.004,0.583,0.119,1.196,0.327,1.74
		c4.53,11.828,9.06,23.656,13.656,35.458c0.57,1.465,0.431,2.689-0.312,3.982c-1.224,2.129-2.956,3.785-4.856,5.277
		c-5.638,4.426-12.051,7.359-18.798,9.605c-5.454,1.815-11.04,3.076-16.77,3.659c-1.791,0.183-3.579,0.384-5.369,0.576
		c-2.742,0-5.484,0-8.228,0c-0.258-0.056-0.513-0.147-0.773-0.162c-6.348-0.355-12.566-1.465-18.659-3.262
		c-6.942-2.047-13.562-4.828-19.507-9.014c-3.256-2.293-6.395-4.756-7.618-8.834c0-0.201,0-0.401,0-0.602
		c0.14-0.25,0.311-0.488,0.412-0.752c4.279-11.103,8.521-22.22,12.852-33.301c0.892-2.281,1.426-4.539,1.269-6.996
		c-0.116-1.832-0.085-3.679-0.009-5.515c0.13-3.098-0.032-6.272,0.598-9.273c2.443-11.653,9.56-19.172,20.949-22.593
		C53.371,17.094,55.248,16.923,57.074,16.586z"/>
	<path fill="#020202" d="M51.836,47.449c-4.792-0.025-9.65,1.846-13.092,6.489c-1.517,2.046-2.892,4.295-3.836,6.651
		c-4.625,11.541-9.084,23.149-13.596,34.736c-0.106,0.273-0.175,0.577-0.188,0.869c-0.037,0.837,0.378,1.405,1.154,1.682
		c0.781,0.278,1.466,0.06,1.964-0.583c0.239-0.307,0.381-0.7,0.525-1.07c3.281-8.418,6.528-16.85,9.848-25.253
		c1.578-3.997,3.163-8.001,4.986-11.89c1.399-2.984,3.549-5.465,6.688-6.78c5.556-2.328,10.834-1.562,15.807,1.706
		c2.784,1.83,5.537,1.853,8.32-0.003c2.452-1.636,5.114-2.763,8.085-2.957c5.445-0.355,10.044,1.276,13.164,5.987
		c1.044,1.577,2,3.258,2.7,5.01c3.535,8.855,6.974,17.749,10.445,26.629c1.056,2.701,2.106,5.405,3.164,8.105
		c0.35,0.893,1.009,1.312,1.963,1.17c0.923-0.137,1.448-0.761,1.479-1.637c0.02-0.534-0.238-1.097-0.441-1.619
		c-3.343-8.608-6.657-17.227-10.063-25.809c-1.585-3.994-3.176-8.002-5.084-11.844c-1.903-3.831-4.81-6.851-8.955-8.347
		c-6.478-2.338-12.614-1.472-18.339,2.288c-1.563,1.026-2.966,1.056-4.531,0.015C60.597,48.729,56.87,47.395,51.836,47.449z"/>
	<path fill="#020202" d="M52.058,70.844c0.836,0,1.672,0.005,2.508-0.001c1.806-0.014,3.615,0.036,5.415-0.07
		c2.008-0.118,2.648-0.872,2.649-2.827c0-1.304,0.014-2.608-0.004-3.913c-0.043-3.142-1.806-5.632-4.727-6.762
		c-2.315-0.896-4.702-1.028-7.095-0.542c-5.188,1.054-8.719,3.731-9.713,9.146c-0.598,3.256,1.399,5.151,4.045,4.996
		C47.437,70.737,49.75,70.844,52.058,70.844z"/>
	<path fill="#020202" d="M80.349,70.843c2.538,0,5.076,0.023,7.614-0.008c2.032-0.025,3.681-1.548,3.571-3.531
		c-0.159-2.896-0.987-5.605-3.329-7.554c-3.476-2.892-7.504-3.817-11.901-2.988c-3.555,0.67-5.83,2.836-6.302,6.095
		c-0.246,1.702-0.084,3.465-0.094,5.2c-0.009,1.778,0.543,2.427,2.33,2.701c0.524,0.081,1.065,0.081,1.599,0.083
		C76.008,70.849,78.179,70.844,80.349,70.843z"/>
	<path fill="#020202" d="M71.576,85.288c0-2.102,0.144-4.111-0.035-6.09c-0.246-2.721-2.54-4.624-5.259-4.629
		c-2.706-0.006-5.09,1.912-5.339,4.572c-0.188,2.012-0.037,4.056-0.037,6.147C64.482,85.288,68.004,85.288,71.576,85.288z"/>
	<path fill="#020202" d="M59.131,89.052c0,4.827,0,9.557,0,14.304c1.781,0,3.496,0,5.238,0c0-4.809,0-9.538,0-14.304
		C62.603,89.052,60.905,89.052,59.131,89.052z"/>
	<path fill="#020202" d="M68.175,89.064c0,4.796,0,9.543,0,14.294c1.792,0,3.507,0,5.251,0c0-4.799,0-9.523,0-14.294
		C71.646,89.064,69.926,89.064,68.175,89.064z"/>
	<path fill="#020202" d="M51.84,103.37c1.257,0,2.342,0,3.452,0c0-3.525,0-6.985,0-10.684c-1.169,1.188-2.178,2.201-3.166,3.234
		c-0.146,0.153-0.272,0.4-0.274,0.604C51.832,98.787,51.84,101.049,51.84,103.37z"/>
	<path fill="#020202" d="M80.72,103.369c0-2.308,0.001-4.566-0.003-6.824c0-0.095-0.01-0.226-0.07-0.281
		c-1.17-1.089-2.348-2.169-3.451-3.185c0,3.347,0,6.802,0,10.355c0.919,0,1.778,0.004,2.639-0.002
		C80.093,103.429,80.351,103.396,80.72,103.369z"/>
	<path fill="#020202" d="M44.462,106.106c1.505,0.038,2.72-1.079,2.781-2.557c0.062-1.466-1.098-2.701-2.584-2.752
		c-1.505-0.052-2.721,1.061-2.791,2.554C41.801,104.793,43.001,106.068,44.462,106.106z"/>
	<path fill="#020202" d="M85.311,103.471c0.012,1.512,1.16,2.645,2.672,2.635c1.498-0.009,2.634-1.167,2.628-2.68
		c-0.006-1.503-1.167-2.646-2.675-2.634C86.419,100.805,85.298,101.948,85.311,103.471z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M51.836,47.449
		c5.034-0.055,8.761,1.28,12.168,3.545c1.565,1.041,2.968,1.011,4.531-0.015c5.725-3.759,11.861-4.626,18.339-2.288
		c4.146,1.496,7.052,4.516,8.955,8.347c1.908,3.842,3.499,7.851,5.084,11.844c3.406,8.582,6.721,17.201,10.063,25.809
		c0.203,0.522,0.461,1.085,0.441,1.619c-0.031,0.876-0.557,1.5-1.479,1.637c-0.954,0.142-1.613-0.277-1.963-1.17
		c-1.058-2.701-2.108-5.404-3.164-8.105c-3.472-8.88-6.91-17.774-10.445-26.629c-0.7-1.752-1.656-3.433-2.7-5.01
		c-3.12-4.71-7.719-6.342-13.164-5.987c-2.971,0.193-5.633,1.32-8.085,2.957c-2.783,1.856-5.536,1.833-8.32,0.003
		c-4.973-3.268-10.251-4.034-15.807-1.706c-3.139,1.315-5.288,3.796-6.688,6.78c-1.823,3.888-3.408,7.893-4.986,11.89
		c-3.319,8.403-6.566,16.835-9.848,25.253c-0.145,0.371-0.286,0.763-0.525,1.07c-0.498,0.642-1.183,0.861-1.964,0.583
		c-0.776-0.276-1.191-0.844-1.154-1.682c0.013-0.292,0.081-0.596,0.188-0.869c4.512-11.587,8.971-23.195,13.596-34.736
		c0.944-2.356,2.319-4.605,3.836-6.651C42.186,49.295,47.044,47.424,51.836,47.449z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M52.058,70.844
		c-2.308,0-4.621-0.107-6.921,0.028c-2.646,0.155-4.643-1.74-4.045-4.996c0.994-5.415,4.525-8.092,9.713-9.146
		c2.393-0.486,4.779-0.354,7.095,0.542c2.921,1.13,4.684,3.62,4.727,6.762c0.018,1.304,0.004,2.608,0.004,3.913
		c-0.001,1.955-0.642,2.709-2.649,2.827c-1.8,0.105-3.609,0.056-5.415,0.07C53.729,70.85,52.894,70.844,52.058,70.844z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M80.349,70.843
		c-2.17,0.001-4.341,0.006-6.512-0.003c-0.533-0.002-1.074-0.002-1.599-0.083c-1.787-0.274-2.339-0.922-2.33-2.701
		c0.01-1.735-0.152-3.498,0.094-5.2c0.472-3.258,2.747-5.425,6.302-6.095c4.397-0.829,8.426,0.097,11.901,2.988
		c2.342,1.949,3.17,4.657,3.329,7.554c0.109,1.983-1.539,3.506-3.571,3.531C85.425,70.866,82.887,70.843,80.349,70.843z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M71.576,85.288
		c-3.572,0-7.094,0-10.67,0c0-2.091-0.15-4.135,0.037-6.147c0.249-2.66,2.633-4.578,5.339-4.572
		c2.719,0.005,5.013,1.908,5.259,4.629C71.72,81.177,71.576,83.186,71.576,85.288z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M59.131,89.052
		c1.774,0,3.472,0,5.238,0c0,4.766,0,9.496,0,14.304c-1.742,0-3.457,0-5.238,0C59.131,98.609,59.131,93.879,59.131,89.052z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M68.175,89.064
		c1.751,0,3.471,0,5.251,0c0,4.771,0,9.495,0,14.294c-1.744,0-3.459,0-5.251,0C68.175,98.608,68.175,93.86,68.175,89.064z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M51.84,103.37
		c0-2.321-0.008-4.583,0.012-6.845c0.002-0.205,0.128-0.452,0.274-0.604c0.988-1.033,1.997-2.046,3.166-3.234
		c0,3.698,0,7.159,0,10.684C54.182,103.37,53.097,103.37,51.84,103.37z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M80.72,103.369
		c-0.369,0.027-0.627,0.06-0.886,0.062c-0.86,0.007-1.72,0.002-2.639,0.002c0-3.554,0-7.009,0-10.355
		c1.104,1.016,2.281,2.096,3.451,3.185c0.061,0.056,0.07,0.186,0.07,0.281C80.721,98.803,80.72,101.061,80.72,103.369z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M44.462,106.106
		c-1.461-0.038-2.661-1.312-2.594-2.755c0.07-1.493,1.286-2.605,2.791-2.554c1.486,0.051,2.646,1.286,2.584,2.752
		C47.182,105.027,45.967,106.144,44.462,106.106z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#757575" stroke="#000000" stroke-miterlimit="10" d="M85.311,103.471
		c-0.013-1.523,1.108-2.667,2.625-2.679c1.508-0.012,2.669,1.131,2.675,2.634c0.006,1.512-1.13,2.67-2.628,2.68
		C86.471,106.116,85.322,104.983,85.311,103.471z"/>
	<ellipse fill="#020203" cx="53.576" cy="66.326" rx="3.489" ry="3.65"/>
	<circle fill="#010102" cx="79.375" cy="66.326" r="3.649"/></g>
</defs></svg></core-iconset-svg>
