<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="category-icons" iconSize="256">
<svg><defs>
<g id="entertainment"><rect x="28.726" y="66.732" fill="#EAD700" width="240.229" height="135.566"/>
	<path fill="#EAD700" d="M12.321,202.585c0,0,3.958-105.61,123.842-107.219c119.885-1.609,147.594,68.92,150.756,108.507
		C158.937,204.501,12.321,202.585,12.321,202.585z"/>
	<path fill="#C6B302" d="M46.113,204v-69.443c0-15.497,14.266-28.061,31.863-28.061l0,0c17.597,0,31.861,12.564,31.861,28.061V204"
		/>
	<path d="M52.757,203.884v-62.41c0-13.928,11.291-25.219,25.22-25.219l0,0c13.928,0,25.219,11.291,25.219,25.219v62.41"/>
	<polygon fill="#C6B302" points="253.591,99.682 109.838,99.682 24.146,99.682 24.146,91.294 253.591,91.294 	"/>
	<path fill="#D6CC80" d="M131.379,124.244c14.379,0,19.347-24.562,17.462-24.562s3.896,23.364,18.079,22.166
		s18.377-22.166,18.377-22.166s3.624,24.562,17.972,24.562s13.18-20.968,13.18-20.968s5.991,22.166,20.967,20.968
		c14.977-1.198,16.176-24.562,16.176-24.562H113.407C113.407,99.682,114.605,124.244,131.379,124.244z"/></g>
<g id="food"><rect x="28.726" y="66.732" fill="#EAD700" width="240.229" height="135.566"/>
	<path fill="#EAD700" d="M12.321,202.585c0,0,3.958-105.61,123.842-107.219c119.885-1.609,147.594,68.92,150.756,108.507
		C158.937,204.501,12.321,202.585,12.321,202.585z"/>
	<path fill="#C6B302" d="M46.113,204v-69.443c0-15.497,14.266-28.061,31.863-28.061l0,0c17.597,0,31.861,12.564,31.861,28.061V204"
		/>
	<path d="M52.757,203.884v-62.41c0-13.928,11.291-25.219,25.22-25.219l0,0c13.928,0,25.219,11.291,25.219,25.219v62.41"/>
	<polygon fill="#C6B302" points="253.591,99.682 109.838,99.682 24.146,99.682 24.146,91.294 253.591,91.294 	"/>
	<path fill="#D6CC80" d="M131.379,124.244c14.379,0,19.347-24.562,17.462-24.562s3.896,23.364,18.079,22.166
		s18.377-22.166,18.377-22.166s3.624,24.562,17.972,24.562s13.18-20.968,13.18-20.968s5.991,22.166,20.967,20.968
		c14.977-1.198,16.176-24.562,16.176-24.562H113.407C113.407,99.682,114.605,124.244,131.379,124.244z"/></g>
<g id="geography"><polygon fill="#88252B" points="19.999,66.732 57.999,219.667 213.999,219.667 287.999,71 291.999,32.333 	"/>
	
		<rect x="224.142" y="56.928" transform="matrix(0.994 -0.1096 0.1096 0.994 -5.5331 25.6082)" fill="#EAD0D3" width="12" height="12.399"/>
	
		<rect x="239.714" y="55.21" transform="matrix(0.994 -0.1097 0.1097 0.994 -5.2523 27.315)" fill="#EAD0D3" width="12" height="12.399"/>
	
		<rect x="255.617" y="53.457" transform="matrix(0.994 -0.1097 0.1097 0.994 -4.9643 29.0507)" fill="#EAD0D3" width="11.999" height="12.399"/>
	
		<rect x="271.189" y="51.739" transform="matrix(0.994 -0.1096 0.1096 0.994 -4.6807 30.7343)" fill="#EAD0D3" width="12" height="12.399"/>
	<path fill="#88252B" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M126.666,233c0,4.787-3.88,8.667-8.667,8.667
		H65.333c-4.787,0-8.667-3.88-8.667-8.667l0,0c0-4.786,3.88-8.667,8.667-8.667h52.666C122.786,224.333,126.666,228.214,126.666,233
		L126.666,233z"/>
	<circle fill="#FFFFFF" cx="68.333" cy="233" r="4.667"/>
	<circle fill="#FFFFFF" cx="80.249" cy="233" r="4.667"/>
	<circle fill="#FFFFFF" cx="92.166" cy="233" r="4.667"/>
	<circle fill="#FFFFFF" cx="104.082" cy="233" r="4.666"/>
	<circle fill="#FFFFFF" cx="115.999" cy="233" r="4.667"/>
	<path fill="#88252B" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M210.832,233c0,4.787-3.88,8.667-8.667,8.667
		h-52.666c-4.787,0-8.667-3.88-8.667-8.667l0,0c0-4.786,3.88-8.667,8.667-8.667h52.666C206.952,224.333,210.832,228.214,210.832,233
		L210.832,233z"/>
	<circle fill="#FFFFFF" cx="152.499" cy="233" r="4.667"/>
	<circle fill="#FFFFFF" cx="164.415" cy="233" r="4.667"/>
	<circle fill="#FFFFFF" cx="176.332" cy="233" r="4.667"/>
	<circle fill="#FFFFFF" cx="188.248" cy="233" r="4.666"/>
	<circle fill="#FFFFFF" cx="200.165" cy="233" r="4.667"/></g>
<g id="history"><path fill="#89695E" d="M120.1 114.5c0-2.4.2-4.7.7-7s1.1-4.4 2-6.5 2-4.1 3.2-5.9c1.2-1.9 2.7-3.6 4.2-5.1 1.6-1.6 3.3-3 5.1-4.2 1.9-1.3 3.8-2.3 5.9-3.2 2.1-.9 4.3-1.6 6.5-2 2.3-.5 4.6-.7 7-.7s4.7.2 7 .7 4.4 1.1 6.5 2 4.1 2 5.9 3.2c1.9 1.3 3.6 2.7 5.1 4.2s3 3.3 4.2 5.1c1.2 1.9 2.3 3.8 3.2 5.9s1.6 4.3 2 6.5c.5 2.3.7 4.6.7 7h-69.2zM236.5 126h-116.4v-11.5l116.4-11zM224.7 103.5c0-3.3 2.6-5.9 5.9-5.9.4 0 .8.7 1.2.8.1 0 .3-.3.5-.3l.3-.2c2.3.8 3.9 3 3.9 5.6 0 3.3-2.6 5.9-5.9 5.9s-5.9-2.7-5.9-5.9zM162 80.4l70.6 17.5s-.1 13.3 0 13.3-49.5 5.1-49.2 5c.1-.1-21.4-35.8-21.4-35.8zM160.3 139.7c-5.5 0-10-2.3-10-5 0-2.8-4.5-5-10-5h-10.1c-5.5 0-10 2.3-10 5v13.3s4.5 8.3 10 8.3h96.3c5.5 0 10-3.7 10-8.3s-4.5-8.3-10-8.3h-66.2z"/><circle fill="#89695E" cx="126.1" cy="150.4" r="5.9"/><path fill="#89695E" d="M201.1 139.7h35.4v9h-35.4z"/><circle fill="#fff" cx="149.8" cy="98.6" r="8.9"/><circle fill="#fff" cx="149.8" cy="107.5" r="8.9"/><circle fill="#fff" cx="177.8" cy="105.5" r="11"/><circle fill="#fff" cx="223.9" cy="108.3" r="4.9"/><path fill="#fff" d="M140.9 97.6h17.8v10h-17.8zM219.1 103.4h4.9v4.9h-4.9z"/><path fill="#F1CA3A" d="M158.6 135c-2.2 0-3.1-1.6-2-3.5l.1-.1c1.1-1.9 2.9-1.9 4 0l.1.1c1.1 1.9.2 3.5-2 3.5h-.2zM166.7 129.3c2.2 0 3.1 1.6 2 3.5l-.1.1c-1.1 1.9-2.9 1.9-4 0l-.1-.1c-1.1-1.9-.2-3.5 2-3.5h.2zM174.6 135c-2.2 0-3.1-1.6-2-3.5l.1-.1c1.1-1.9 2.9-1.9 4 0l.1.1c1.1 1.9.2 3.5-2 3.5h-.2zM182.7 129.3c2.2 0 3.1 1.6 2 3.5l-.1.1c-1.1 1.9-2.9 1.9-4 0l-.1-.1c-1.1-1.9-.2-3.5 2-3.5h.2zM190.6 135c-2.2 0-3.1-1.6-2-3.5l.1-.1c1.1-1.9 2.9-1.9 4 0l.1.1c1.1 1.9.2 3.5-2 3.5h-.2zM198.7 129.3c2.2 0 3.1 1.6 2 3.5l-.1.1c-1.1 1.9-2.9 1.9-4 0l-.1-.1c-1.1-1.9-.2-3.5 2-3.5h.2zM206.5 135c-2.2 0-3.1-1.6-2-3.5l.1-.1c1.1-1.9 2.9-1.9 4 0l.1.1c1.1 1.9.2 3.5-2 3.5h-.2zM214.7 129.3c2.2 0 3.1 1.6 2 3.5l-.1.1c-1.1 1.9-2.9 1.9-4 0l-.1-.1c-1.1-1.9-.2-3.5 2-3.5h.2zM222.5 135c-2.2 0-3.1-1.6-2-3.5l.1-.1c1.1-1.9 2.9-1.9 4 0l.1.1c1.1 1.9.2 3.5-2 3.5h-.2zM230.6 129.3c2.2 0 3.1 1.6 2 3.5l-.1.1c-1.1 1.9-2.9 1.9-4 0l-.1-.1c-1.1-1.9-.2-3.5 2-3.5h.2z"/><path fill="#89695E" d="M111.8 146.3c0 5.5-4.5 10-10 10h-6.6c-5.5 0-10-4.5-10-10v-6.6c0-5.5 4.5-10 10-10h6.6c5.5 0 10 4.5 10 10v6.6zM76.9 146.3c0 5.5-4.5 10-10 10h-6.6c-5.5 0-10-4.5-10-10v-6.6c0-5.5 4.5-10 10-10h6.6c5.5 0 10 4.5 10 10v6.6z"/><circle fill="#89695E" cx="105.9" cy="123.8" r="5.9"/><path fill="#89695E" d="M100 123.8h11.8v14.2h-11.8z"/><circle fill="#89695E" cx="71" cy="123.8" r="5.9"/><path fill="#89695E" d="M65.1 123.8h11.8v14.2h-11.8zM41.8 146.3c0 5.5-4.5 10-10 10h-6.6c-5.5 0-10-4.5-10-10v-6.6c0-5.5 4.5-10 10-10h6.6c5.5 0 10 4.5 10 10v6.6z"/><circle fill="#89695E" cx="35.9" cy="123.8" r="5.9"/><path fill="#89695E" d="M30 123.8h11.8v14.2h-11.8z"/><path fill="none" d="M0 0h256v256h-256z"/></g>

<g id="knowledge"><rect x="12.834" y="130.326" fill="#EAD700" width="238.166" height="72.466"/>
	<path fill="#EAD700" d="M29.765,201.097c0,0,2.967-139.061,92.808-141.179c89.842-2.12,110.607,90.749,112.977,142.874
		C138.253,221.863,29.765,201.097,29.765,201.097z"/>
	<path fill="#C6B302" d="M100.731,211.312v-68.846c0-15.364,14.143-27.82,31.588-27.82l0,0c17.446,0,31.589,12.457,31.589,27.82
		v68.846"/>
	<path d="M107.317,211.197v-61.874c0-13.808,11.194-25.002,25.002-25.002l0,0c13.809,0,25.002,11.194,25.002,25.002v61.874"/></g>

	
<g id="leaderboard"><path fill="#33B679" d="M94.7 47.5l27.6 7.5 26-11.7 17.9 22.3 28.1 5.8 1.3 28.6 19.3 21.2-15.7 23.9 3.1 28.4-26.8 10.2-14.2 24.8-27.6-7.5-26 11.7-17.9-22.3-28.1-5.8-1.3-28.6-19.3-21.2 15.7-23.9-3.1-28.4 26.8-10.2z"/><path opacity=".15" fill="#424242" enable-background="new" d="M103.4 177.7l25.5 25.5 4.8-2.2 27.6 7.5 14.2-24.8 26.8-10.2-3.1-28.4 8.4-12.9-49.7-49.7-31.5 73.8z"/><path fill="#FFE068" d="M140.1 129.6v-6.5c7.8 0 13.9-2.2 18.2-6.6 4.7-4.9 6.1-11.3 6.6-15.1h-11.9v-6.5h18.5l.1 3.1c0 .6.4 13.7-8.6 22.9-5.6 5.8-13.2 8.7-22.9 8.7zM114 129.6v-6.5c-7.8 0-13.9-2.2-18.2-6.6-4.7-4.9-6.1-11.3-6.6-15.1h11.9v-6.5h-18.4l-.1 3.1c0 .6-.4 13.7 8.6 22.9 5.4 5.8 13.1 8.7 22.8 8.7zM119.3 129.6h14.3v26.8h-14.3zM157.3 92.5v-9.4h-60.7v9.4s-1.9 50.4 30.3 50.4c32.3 0 30.4-50.4 30.4-50.4z"/><path fill="#F2B31B" d="M126.9 92.5h-30.3s-1.9 50.4 30.3 50.4v-50.4z"/><path fill="#FBCB42" d="M126.9 92.5h30.3s1.9 50.4-30.3 50.4v-50.4z"/><path fill="#FFE068" d="M96.6 83.2h60.7v9.4h-60.7z"/><path fill="#F2B31B" d="M150.5 177.7c0-13-10.6-23.6-23.6-23.6s-23.6 10.6-23.6 23.6h47.2z"/><path fill="none" d="M103.4 177.7l54.5-95.2 49.7 49.7 7.3-11-19.3-21.2-1.3-28.6-28.1-5.8-17.9-22.3-26 11.7-27.6-7.5-14.2 24.8-26.8 10.2 3.1 28.4-15.7 23.9 19.3 21.2 1.3 28.6 28.1 5.8 17.9 22.3 21.2-9.5zM0 0h256v256h-256z"/></g>
<g id="music"><rect x="12.834" y="130.326" fill="#EAD700" width="238.166" height="72.466"/>
	<path fill="#EAD700" d="M29.765,201.097c0,0,2.967-139.061,92.808-141.179c89.842-2.12,110.607,90.749,112.977,142.874
		C138.253,221.863,29.765,201.097,29.765,201.097z"/>
	<path fill="#C6B302" d="M100.731,211.312v-68.846c0-15.364,14.143-27.82,31.588-27.82l0,0c17.446,0,31.589,12.457,31.589,27.82
		v68.846"/>
	<path d="M107.317,211.197v-61.874c0-13.808,11.194-25.002,25.002-25.002l0,0c13.809,0,25.002,11.194,25.002,25.002v61.874"/></g>
<g id="polymer"><path fill="#303F9F" d="M83.5 130.1l-14.9 25.8 14.9 25.9 14.9-25.9z"/><path fill="#3F51B5" d="M173 78.5l-14.9 25.8 14.9 25.8 14.9-25.8z"/><path fill="#FF4080" d="M143.2 78.5l-59.7 103.3h29.8l59.7-103.3z"/><path fill="#536DFE" d="M83.5 78.5l-29.8 51.6 14.9 25.8 44.7-77.4z"/><path fill="#fff" fill-opacity=".2" d="M143.2 78.5l14.9 25.8 14.9-25.8z"/><path fill="#fff" fill-opacity=".1" d="M128.2 104.3l15-25.8 14.9 25.8z"/><path fill="none" d="M128.2 104.3l15 25.8 14.9-25.8z"/><path fill-opacity=".1" d="M113.3 130.1l14.9-25.8 15 25.8z"/><path fill-opacity=".2" d="M113.3 130.1l14.9 25.8 15-25.8z"/><path fill-opacity=".3" d="M98.4 155.9l14.9-25.8 14.9 25.8z"/><path fill-opacity=".4" d="M98.4 155.9l14.9 25.9 14.9-25.9z"/><path fill-opacity=".5" d="M83.5 181.8l14.9-25.9 14.9 25.9z"/><path fill="#fff" fill-opacity=".2" d="M83.5 78.5l14.9 25.8 14.9-25.8z"/><path fill="#fff" fill-opacity=".1" d="M68.6 104.3l14.9-25.8 14.9 25.8z"/><path fill="none" d="M68.6 104.3l14.9 25.8 14.9-25.8z"/><path fill-opacity=".1" d="M53.7 130.1l14.9-25.8 14.9 25.8z"/><path fill-opacity=".2" d="M53.7 130.1l14.9 25.8 14.9-25.8z"/><path fill="none" d="M98.4 155.9l-14.9-25.8-14.9 25.8z"/><path fill-opacity=".2" d="M98.4 155.9l-14.9 25.9-14.9-25.9zM187.9 104.3l-14.9-25.8-14.9 25.8z"/><path fill="none" d="M187.9 104.3l-14.9 25.8-14.9-25.8z"/><path fill="#7986CB" d="M187.9 104.3l-44.7 77.5h29.8l29.8-51.7z"/><g fill="#fff"><path fill-opacity=".2" d="M173 130.1l14.9-25.8 14.9 25.8z"/><path fill-opacity=".1" d="M173 130.1l14.9 25.8 14.9-25.8z"/></g><path fill="none" d="M158.1 155.9l14.9-25.8 14.9 25.8z"/><path fill-opacity=".1" d="M158.1 155.9l14.9 25.9 14.9-25.9z"/><path fill-opacity=".2" d="M143.2 181.8l14.9-25.9 14.9 25.9z"/><path fill="#00BCD4" d="M56.6 39.2c-12.7-2.9-25.4 5.1-28.3 17.8s5.1 25.4 17.8 28.3c5.7 1.3 11.4.4 16.2-2.1l5.1 5.8-1.2-8.3c4-3.2 7.1-7.8 8.3-13.2 2.8-12.7-5.1-25.4-17.9-28.3z"/><path fill="#F1F8E9" d="M48.9 65.4c0-1.4.1-2.5.4-3.2.3-.8.8-1.5 1.6-2.3.7-.7 1.2-1.3 1.5-1.8s.5-1.1.5-1.8c0-.9-.2-1.6-.6-2-.4-.5-1-.7-1.7-.7s-1.2.2-1.7.6c-.5.4-.7 1-.7 1.9h-4.2c0-2 .6-3.4 1.8-4.4s2.8-1.5 4.8-1.5c2.1 0 3.7.5 4.8 1.5s1.7 2.5 1.7 4.4c0 1.2-.3 2.1-.8 3-.5.8-1.3 1.7-2.3 2.7-.5.5-.9 1.1-1.1 1.6-.2.5-.3 1.2-.3 2h-3.7zm-.6 4.3c0-.6.2-1.2.6-1.6.4-.4 1-.6 1.7-.6s1.3.2 1.7.6.6.9.6 1.6c0 .6-.2 1.2-.6 1.6-.4.4-1 .6-1.7.6s-1.3-.2-1.7-.6c-.3-.4-.6-1-.6-1.6z"/><path fill="none" d="M0 0h256v256h-256z"/></g>
<g id="profile"><path fill="#FF80AB" d="M156.1 201.4c-.6-.2-1.2-.3-1.9-.5.6.2 1.3.4 1.9.5zM158.3 201.9c.8.5 1.4 1.4 1.4 2.4 0-1.1-.6-1.9-1.4-2.4zM152.1 200.2l.3-1.3c.2-.8 2.5-13.6 2.6-17.9.1-4.6-.4-7.6-1.2-9.4h-5.6l1.4-5.7v-.3l.2-1.3.1-.1c.1-1.2.2-2.4.3-3.4.1-1.1.4-2.2.7-3.3h.3-.2c2.6-8.6 10.6-14.3 19.2-13 2 .3 3.9.9 5.6 1.9 1.4-4.2 5.4-7.2 10.1-7.2 5.9 0 10.7 4.8 10.6 10.7 0 4.8-3.1 8.8-7.5 10.2 0 0-.1 0-.1-.1l.2.2c1.1 1 1.7 2.7 1.5 4.4-.2 1.3-.8 2.3-1.6 3.1-.1.1-1 .4-2.1 1.1-.4.3-.9.6-1.5 1-1 .6-2 1.5-3 2.5-4.1 4.2-7.5 11.5-1.5 22.8v.1c.1-.1.1-.2.1-.2 1.1 2.1 2.6 4.4 4.4 6.8l-.1.1c.2.2.4.4.5.6l.7.9c.1 0 .1.1.2.2.4.5.7.9 1.1 1.3l.4.5c.1.1.3.3.4.5l.7.9c12.9-6.5 21.7-19.9 21.7-35.3 0-21.8-17.7-39.5-39.5-39.5s-39.5 17.7-39.5 39.5c0 14.3 7.6 26.9 19 33.8.4-1.7.8-3.4 1.1-5.1zm33.8 2.3l.7.9-.7-.9zm.7.9l.2.2c-.1 0-.1-.1-.2-.2zM171.7 207c1.5 0 2.8-1.2 2.7-2.7 0 1.5-1.2 2.7-2.7 2.7zM171.7 201.6c-1.5 0-2.7 1.2-2.7 2.7 0-1.5 1.2-2.7 2.7-2.7zM171.7 201.6c1.5 0 2.7 1.2 2.7 2.7 0-1.5-1.2-2.7-2.7-2.7zM169 204.3c0 1.5 1.2 2.7 2.7 2.7-1.5 0-2.7-1.2-2.7-2.7z"/><path fill="#5D4037" d="M159.3 158.1c.8-.4 1.8-.6 2.8-.6.7 0 1.4.1 2 .3l.2.1c6-.8 9.1-3.3 10.8-5.6.2.2.4.6.7 1 1.3 1.9 4.1 4.8 9.1 5.7.6-.1 1.2-.2 1.8 0 .8.2 1.6.5 2.2 1 0 0 .1 0 .1.1 4.4-1.4 7.5-5.4 7.5-10.2.1-5.9-4.7-10.7-10.6-10.7-4.7 0-8.7 3-10.1 7.2-1.7-1-3.6-1.6-5.6-1.9-8.6-1.3-16.6 4.4-19.2 13h.2c3 .5 5.6.6 7.9.7l.2-.1z"/><path fill="#FFCC80" d="M154.5 158.5l4.4-.2.2-.1c-2.3 0-4.9-.2-7.9-.7h-.3c-.3 1.1-.6 2.2-.7 3.3-.2 1.1-.3 2.2-.3 3.4l1.2-1.3 3.4-4.4zM182.4 172.3c1-1 2-1.9 3-2.5.6-.4 1.1-.7 1.5-1 1.1-.7 2-1 2.1-1.1.8-.8 1.4-1.8 1.6-3.1.2-1.7-.4-3.4-1.5-4.4l-.2-.2c-.6-.5-1.4-.9-2.2-1-.6-.2-1.2-.1-1.8 0-5-.9-7.8-3.8-9.1-5.7-.3-.4-.5-.8-.7-1-1.7 2.3-4.8 4.7-10.8 5.6.1 0 .3.1.4.2l2.8-.1 1.5 4.5c.1.1.1.3.2.5.9 2.8 1.9 5.7 1.8 5.8-.1.1-7.9 5.6-7.9 5.6l-7.8-3.3-4.1-2.3-1.6-2.4v-.3l-1.4 5.7h5.6c.8 1.8 1.3 4.8 1.2 9.4-.1 4.3-2.4 17.1-2.6 17.9l-.3 1.3h.1c.7.3 1.4.5 2 .7.6.2 1.2.4 1.9.5l.7.2h-.1c.6.1 1.1.2 1.5.3 2.9.6 5.6.7 7.9.5 9.2-.7 13.8-6.3 14.7-7.2v-.1c-5.9-11.5-2.5-18.8 1.6-23zM186.8 203.6l-.2-.2c.1.1.1.2.2.2z"/><path fill="#FFEE58" d="M188.6 205.9c-.5.7-1.2 1.1-2.1 1.1-1.5 0-2.7-1.2-2.7-2.7 0-1.1.6-2.1 1.4-2.5 0 0 0 .1.1.1l.1-.1c-1.8-2.4-3.3-4.7-4.4-6.8 0 0-.1.1-.1.2-.8 1-5.4 6.5-14.7 7.2-2.3.2-5 .1-7.9-.5.8.5 1.4 1.3 1.4 2.4 0 1.5-1.2 2.7-2.7 2.7s-2.7-1.2-2.7-2.7 1.1-2.6 2.4-2.7h.1c-.2 0-.5-.1-.7-.2-.6-.1-1.2-.3-1.9-.5s-1.3-.4-2-.7c-.4 1.7-.8 3.4-1.1 5.1 6 3.6 13 5.7 20.5 5.7 6.4 0 12.4-1.5 17.8-4.2-.4-.4-.6-.7-.8-.9zm-16.9 1.1c-1.5 0-2.7-1.2-2.7-2.7s1.2-2.7 2.7-2.7 2.7 1.2 2.7 2.7c.1 1.5-1.2 2.7-2.7 2.7z"/><path d="M186.6 203.4l-.7-.9" fill="none"/><path fill="#F9A825" d="M158.3 201.9c-.5-.1-1-.2-1.6-.3-1.3.1-2.4 1.2-2.4 2.7s1.2 2.7 2.7 2.7 2.7-1.2 2.7-2.7c0-1-.6-1.9-1.4-2.4z"/><circle fill="#F9A825" cx="171.7" cy="204.3" r="2.7"/><path fill="#F9A825" d="M187.8 204.9c-.4-.4-.7-.8-1.1-1.3-.1-.1-.1-.2-.2-.2l-.7-.9c-.2-.2-.4-.4-.5-.6 0 0 0-.1-.1-.1-.8.4-1.4 1.4-1.4 2.5 0 1.5 1.2 2.7 2.7 2.7.9 0 1.6-.4 2.1-1.1-.1-.2-.3-.4-.4-.5l-.4-.5z"/><path fill="#FFCC80" d="M162.1 158.8c-3.5 0-6.3 2.8-6.2 6.2 0 3.4 2.8 6.2 6.2 6.2 3.4 0 6.2-2.8 6.2-6.2 0-3.4-2.8-6.2-6.2-6.2zm-2.1 7.2c-.7 0-1.2-.5-1.2-1.2s.5-1.2 1.2-1.2 1.2.5 1.2 1.2-.5 1.2-1.2 1.2zM169 162.4l-1.5-4.5-2.8.1c2 .8 3.6 2.4 4.3 4.4zM151.2 168.6l4.1 2.3 7.8 3.3s7.8-5.5 7.9-5.6c.1-.1-.9-3-1.8-5.8.2.7.3 1.4.3 2.2 0 4.2-3.4 7.5-7.5 7.5-3.9 0-7.1-3-7.4-6.8h-4.9l.2-.7v-.6h4.8c.2-2.7 1.9-5 4.2-6.1l-4.4.2-3.4 4.4-1.2 1.3-.1.1-.2 1.3v.6l1.6 2.4z"/><path fill="#DB4437" d="M162.1 157.5c-1 0-2 .2-2.8.6l-.2.1-.2.1c-2.3 1.1-4 3.4-4.2 6.1h-4.8v.6l-.2.7h4.9c.3 3.8 3.5 6.8 7.4 6.8 4.1 0 7.5-3.3 7.5-7.5 0-.8-.1-1.5-.3-2.2 0-.2-.1-.3-.2-.5-.8-2-2.3-3.6-4.3-4.3l-.4-.2-.2-.1c-.6-.1-1.3-.2-2-.2zm0 13.7c-3.4 0-6.2-2.8-6.2-6.2-.1-3.4 2.7-6.2 6.2-6.2 3.4 0 6.2 2.8 6.2 6.2 0 3.4-2.8 6.2-6.2 6.2z"/><circle fill="#444" cx="160" cy="164.8" r="1.5"/><path fill="#FF8A80" d="M82.5 122c1.3 0 2.7-.1 4-.2h-8c1.3.1 2.7.2 4 .2zM98.7 102.2zM55.2 111c.6-.8 1.1-1.5 1.6-2.1 1-1.2 1.7-2.1 2.3-2.8.6-.7.9-1.1.9-1.1l.1-.1c1.5-1.6 3.3-2.7 5.2-3.3l.1-.3.1.1c.2-.3.4-.5.6-.7 2.9-3.1 4.5-7.2 3.4-11.4-.4-1.7-1.2-3.3-2.1-4.7-.8-1.2-1.8-2.6-2.9-3.5l-6.8-5.8c-.9-.7-1.5-1.8-1.7-3.1-.4-2.7 1.5-5.2 4.2-5.6.7-.1 1.4-.1 2 .1 0-.1 0-.3.1-.4l.2-.1.1-.1-.4.1c1.9-7.2 8-13 15.9-14.1 1.1-.2 2.1-.2 3.2-.2h11.6s6.1.7 6.9-2.7c0 0 1.9 6.7-8.7 5.8 3.6 2.3 6.4 5.8 7.8 10.1h-.1c.4.5.5 1.2.7 1.9.8-.4 1.7-.5 2.6-.4 2.7.4 4.6 2.9 4.2 5.6-.2 1.3-.9 2.4-1.8 3.2l-8.1 6.8c-1 .9-1.9 1.7-2.7 2.4-2.8 3.2-5.3 9.4 5.1 17.5l.1-.1.1.1h-.1c2.5.2 5 1.3 7 3.5l1.2 1.5.1.2s.3.4.8 1.2c.4.7 1 1.6 1.8 2.5 7.5-7.2 12.2-17.3 12.2-28.5 0-21.8-17.7-39.5-39.5-39.5s-39.5 17.7-39.5 39.5c0 11.2 4.7 21.3 12.2 28.5z"/><path fill="#FFE0B2" d="M82.4 109.1c6.5-.1 12.3-2.7 16.3-6.9l.1-.1c-10.4-8.2-7.9-14.3-5.1-17.5.8-.7 1.7-1.5 2.7-2.4l8.1-6.8c.9-.8 1.6-1.9 1.8-3.2.4-2.7-1.5-5.2-4.2-5.6-.9-.1-1.8 0-2.6.4-.2-.7-.3-1.4-.7-1.9-16.5 2.3-23.3-1.6-26.1-5.2-1 1.6-3.8 5-10.1 6.2l-.1.1-.2.1c-.1.1-.1.3-.1.4-.6-.2-1.3-.2-2-.1-2.7.4-4.6 2.9-4.2 5.6.2 1.3.8 2.4 1.7 3.1l6.8 5.8c1.1.9 2.1 2.3 2.9 3.5.9 1.4 1.7 3 2.1 4.7 1.1 4.2-.5 8.3-3.4 11.4-.2.2-.4.4-.6.7 4 4.5 10 7.5 16.9 7.7zm7.7-38c.7 0 1.2.5 1.2 1.2s-.5 1.2-1.2 1.2-1.2-.5-1.2-1.2.5-1.2 1.2-1.2zm-15.8.1c.7 0 1.2.5 1.2 1.2s-.5 1.2-1.2 1.2-1.2-.5-1.2-1.2.5-1.2 1.2-1.2z"/><path fill="#E0F7FA" d="M107.2 107.3l-.1-.2-1.2-1.5c-2-2.2-4.5-3.3-7-3.5h.1l-.1-.1-.1.1-.1.1c-4 4.2-9.8 6.8-16.3 6.9-6.9-.2-12.9-3.2-16.9-7.7l-.1-.1-.1.3c-1.9.6-3.7 1.7-5.2 3.3l-.1.1s-.3.4-.9 1.1c-.6.7-1.3 1.6-2.3 2.8-.5.6-1 1.3-1.6 2.1 6.2 5.9 14.3 9.9 23.3 10.8h8c9-.9 17.1-4.9 23.3-10.8-.9-.9-1.4-1.8-1.8-2.5-.5-.8-.8-1.2-.8-1.2z"/><circle fill="#444" cx="90.1" cy="72.3" r="1.5"/><circle fill="#444" cx="74.3" cy="72.4" r="1.5"/><path fill="#444" d="M72.7 59.9c2.8 3.6 9.6 7.5 26.1 5.2h.1c-1.4-4.3-4.2-7.8-7.8-10.1 10.6.9 8.7-5.8 8.7-5.8-.8 3.4-6.9 2.7-6.9 2.7h-11.6c-1.1 0-2.1 0-3.2.2-7.9 1.1-14 6.9-15.9 14.1l.4-.1c6.3-1.2 9.1-4.6 10.1-6.2z"/><path fill="#80D8FF" d="M171.5 43c-21.8 0-39.5 17.7-39.5 39.5 0 14.5 7.8 27.1 19.4 34l2.4-2.9.3-.3 1.9-2.1c2.9-3.6 5-6.8 6.5-9.7-.1-.1-.2-.1-.2-.2 3.5-6.9 3.5-12.2 2.5-16v-.1c-.7 0-1.5-.1-2-.3l-5.4-.2-7.9-.3c-5.2-39.8 26.2-34.8 26.2-34.8 2.2 0 4.4.6 6.4 1.5 2.4 1 4.4 2.6 6.1 4.6.8 1 1.6 2.1 2.2 3.3.7 1.2 1.4 2.5 1.6 3.8-.4 0-.8.2-1.2.3l1.1-.1c.3 1.1.6 2.2.7 3.3.3 2.2.6 5 .6 7.6h-1.3s-4.3.4-4 12.5c.1 4.2 1 9.6 2.1 15.4l.5 2.5c-.4.1-.8.3-1.3.4.5-.1.9-.2 1.3-.3.6 2.8 1.3 5.7 2 8.7l.6 2.5c10.8-7.1 17.9-19.2 17.9-33.1 0-21.8-17.7-39.5-39.5-39.5zm-15.4 66.1c.1-.1.2-.1.2-.1l-.2.1zm35.9-8.9v-.1.1z"/><path fill="#5D4037" d="M163.6 82.1c-.1-.3-.2-.5-.3-.7v-.1c-.2-.2-.3-.4-.4-.6-.6-.9-1.2-1.6-1.7-2.1l-.2-.2c-.1-.1-.1-.2-.2-.2l-.1-.1-.1-.1c-1-1-2-1.8-3-2.5-.5-.4-1-.7-1.5-1-1.1-.7-1.9-1-2.1-1.1-.8-.8-1.4-1.8-1.6-3.1-.4-2.7 1.4-5.2 3.9-5.6l6.6 8.8 4.9-15.4c.1.2.2.3.3.4l.1.1.2.3.1.1c.1 0 .1.1.2.2l.1.1.2.2.1.1c.1 0 .2.1.3.2l.1.1.3.3.1.1.4.3.1.1c.6.5 1.4.9 2.2 1.3h.1c.2 0 .4.1.6.2h.1l.6.2h.1l.6.2h.1l.7.2h.1c.4.1.9.2 1.4.3h.2c.1 0 .3.1.5.1h.1l.7.1h.1c.8.1 1.6.1 2.5.2h6.399999999999999l1.8-.2h.4l1.1-.2c.4-.2.8-.3 1.2-.3-.2-1.3-.9-2.6-1.6-3.8-.6-1.2-1.4-2.3-2.2-3.3-1.7-2-3.7-3.6-6.1-4.6-2-.9-4.2-1.5-6.4-1.5 0 0-31.4-5-26.2 34.8l7.9.3 5.4.2c.4.2 1.2.3 2 .3-.2-.9-.5-1.6-.9-2.4l-.3-.7z"/><path fill="#E65100" d="M192 111.2c.2.6.3 1.2.5 1.9-.7-2.9-1.4-5.8-2-8.7-.3.1-.8.2-1.3.3-4.4 1.4-9.4 2.3-12.6 2.4-5.4-.1-10.2-2.3-14.1-5.6-1.5 2.9-3.6 6.1-6.5 9.7h36z"/><path fill="none" d="M192 100.2v-.1"/><path fill="#00838F" d="M156.1 109.1c.1-.1.1-.1.2-.1 0 0-.1 0-.2.1z"/><path fill="#EE8100" d="M192 111.2h-36l-1.9 2.1-.3.3c-.9 1-1.6 1.9-2.4 2.9 5.9 3.5 12.8 5.5 20.1 5.5 8 0 15.4-2.4 21.6-6.4l-.6-2.5c-.2-.7-.3-1.3-.5-1.9z"/><path fill="#FFE0B2" d="M189.2 104.7c.4-.1.8-.3 1.3-.4l-.5-2.5c-1.1-5.8-2-11.2-2.1-15.4-.3-12.1 4-12.5 4-12.5h1.3c0-2.6-.3-5.4-.6-7.6-.1-1.1-.4-2.2-.7-3.3l-1.1.1-1.1.2h-.4l-1.8.2h-6.4c-.9-.1-1.7-.1-2.5-.2h-.1l-.7-.1h-.1c-.2 0-.4-.1-.5-.1h-.2c-.5-.1-1-.2-1.4-.3h-.1l-.7-.2h-.1l-.6-.2h-.1l-.6-.2h-.1c-.2-.1-.4-.2-.6-.2h-.1c-.8-.4-1.6-.8-2.2-1.3l-.1-.1-.4-.3-.1-.1-.3-.3-.1-.1c-.1-.1-.2-.2-.3-.2l-.1-.1-.2-.2-.1-.1c-.1-.1-.1-.2-.2-.2l-.1-.1-.2-.3-.1-.1c-.1-.1-.2-.2-.3-.4l-4.9 15.4-6.6-8.8c-2.5.4-4.3 2.9-3.9 5.6.2 1.3.8 2.3 1.6 3.1.2.1 1 .4 2.1 1.1.5.3 1 .6 1.5 1 1 .7 2 1.5 3 2.5l.1.1.1.1c.1 0 .1.1.2.2l.2.2c.5.5 1.1 1.2 1.7 2.1.1.2.2.4.4.6v.1l.3.6v.1l.3.7c.4.8.7 1.5.9 2.4v.1c1 3.8 1 9.1-2.5 16 .1.1.2.1.2.2 3.9 3.3 8.7 5.5 14.1 5.6 3.3-.1 8.2-.9 12.6-2.4zm-5.3-35.6c.7 0 1.2.5 1.2 1.2s-.5 1.2-1.2 1.2-1.2-.5-1.2-1.2.5-1.2 1.2-1.2z"/><circle fill="#444" cx="183.9" cy="70.3" r="1.5"/><path fill="#B9F6CA" d="M92 207.3h-.5c.1.1.3 0 .5 0zM93.2 207.3h-.1.1zM88.5 207.3c-6-.5-10-3.1-12.2-5 2.2 1.9 6.2 4.5 12.2 5zM68.8 208.3l-.1.1.1-.1c2.4-2.9 4.2-5.6 5.5-8.1 2.1-3.9 3-7.5 3.1-10.4v-.3c-2.4.9-5 1.5-7.7 1.5-11.8 0-21.4-9.6-21.4-21.4 0-8.5 4.9-15.9 12.1-19.3l15.9-11.3c3.2-2.2 7-3.5 11.1-3.5 10.6 0 19.1 8.6 19.1 19.1 0 3.6-1 7-2.8 9.9-5.7.8-10.1.8-13.6.3 3.4.7 7.8.8 13.4 0 .3 1 .4 1.3.5 2.4.1 1.2.3 2.6.4 4.1l1.5 6.2h-5.4c-.8 1.8-1.3 4.6-1.2 9.1.1 4.1 2.3 16.5 2.5 17.3l.3 1.2h.1l.1.6c11.8-6.8 19.7-19.6 19.7-34.2 0-21.8-17.7-39.5-39.5-39.5s-39.5 17.7-39.5 39.5c0 16.9 10.7 31.4 25.6 37 .1 0 .1-.1.2-.2z"/><path fill="#444" d="M69.9 175.8c-.5-.4-1-.7-1.5-1-1.1-.6-1.8-.9-2-1-.8-.7-1.3-1.8-1.5-3-.3-2.6 1.4-5 3.8-5.4.6-.1 1.2-.1 1.8.1 5.9-1.1 8.5-4.9 9.4-6.5 1.6 2.2 4.6 4.7 10.2 5.8 3.5.5 7.3 1.4 13 .6 1.8-2.9 3.4-7.2 3.4-10.8 0-10.5-8.5-19.1-19.1-19.1-4.1 0-7.9 1.3-11.1 3.5l-15.9 11.3c-7.2 3.4-12.1 10.8-12.1 19.3 0 11.8 9.6 21.4 21.4 21.4 2.7 0 5.3-.6 7.7-1.5 0-5-2.1-8.7-4.6-11.2-1-1-2-1.9-2.9-2.5zm.6-10.5z"/><path d="M70.5 165.3" fill="none"/><path fill="#8D6E63" d="M99.3 186.6c-.1-4.5.4-7.3 1.2-9.1h5.4l-1.5-6.2c-.1-1.5-.3-2.9-.4-4.1-.1-1.1-.2-1.4-.5-2.4-5.6.8-10 .7-13.4 0-5.6-1.1-8.6-3.7-10.2-5.8-.9 1.6-3.5 5.4-9.4 6.5-.6-.2-1.2-.2-1.8-.1-2.4.4-4.1 2.8-3.8 5.4.2 1.2.7 2.3 1.5 3 .2.1.9.4 2 1 .5.3 1 .6 1.5 1 .9.6 1.9 1.5 2.9 2.5 2.5 2.5 4.6 6.2 4.6 11.2v.3c-.1 3-1 6.5-3.1 10.4 0 0 .7.9 2 2.1 2.2 1.9 6.2 4.5 12.2 5 .9.1 1.9.1 3 .1h.5c.4 0 .7 0 1.1-.1h.1c2.7-.3 5.6-.9 8.9-2.1-.1-.4-.2-.9-.3-1.2-.2-.9-2.4-13.3-2.5-17.4zm-4.7-14.5c-.7 0-1.2-.5-1.2-1.2s.5-1.2 1.2-1.2 1.2.5 1.2 1.2-.5 1.2-1.2 1.2z"/><path d="M70.5 165.3M68.7 208.4" fill="none"/><path fill="#FFCC80" d="M68.7 208.4l.2-.2c-.1.1-.2.1-.2.2z"/><circle fill="#444" cx="94.6" cy="170.9" r="1.5"/><path fill="#0097A7" d="M102.2 205.1h-.1c-3.3 1.2-6.2 1.9-8.9 2.1h-.1c-.4 0-.7 0-1.1.1h-.5c-1 0-2 0-3-.1-6-.5-10-3.1-12.2-5-1.4-1.2-2-2.1-2-2.1-1.3 2.5-3.1 5.2-5.4 8l-.1.1c-.1.1-.1.2-.2.2 4.3 1.6 9 2.5 13.9 2.5 7.2 0 14-1.9 19.8-5.3 0-.1-.1-.3-.1-.5z"/><path fill="none" d="M0 0h256v256h-256z"/></g>
<g id="science">
	
<rect x="28.726" y="66.732" fill="#EAD700" width="240.229" height="135.566"/>
	<path fill="#EAD700" d="M12.321,202.585c0,0,3.958-105.61,123.842-107.219c119.885-1.609,147.594,68.92,150.756,108.507
		C158.937,204.501,12.321,202.585,12.321,202.585z"/>
	<path fill="#C6B302" d="M46.113,204v-69.443c0-15.497,14.266-28.061,31.863-28.061l0,0c17.597,0,31.861,12.564,31.861,28.061V204"
		/>
	<path d="M52.757,203.884v-62.41c0-13.928,11.291-25.219,25.22-25.219l0,0c13.928,0,25.219,11.291,25.219,25.219v62.41"/>
	<polygon fill="#C6B302" points="253.591,99.682 109.838,99.682 24.146,99.682 24.146,91.294 253.591,91.294 	"/>
	<path fill="#D6CC80" d="M131.379,124.244c14.379,0,19.347-24.562,17.462-24.562s3.896,23.364,18.079,22.166
		s18.377-22.166,18.377-22.166s3.624,24.562,17.972,24.562s13.18-20.968,13.18-20.968s5.991,22.166,20.967,20.968
		c14.977-1.198,16.176-24.562,16.176-24.562H113.407C113.407,99.682,114.605,124.244,131.379,124.244z"/>

</g>

<g id="sports"><rect x="28.726" y="66.732" fill="#EAD700" width="240.229" height="135.566"/>
	<path fill="#EAD700" d="M12.321,202.585c0,0,3.958-105.61,123.842-107.219c119.885-1.609,147.594,68.92,150.756,108.507
		C158.937,204.501,12.321,202.585,12.321,202.585z"/>
	<path fill="#C6B302" d="M46.113,204v-69.443c0-15.497,14.266-28.061,31.863-28.061l0,0c17.597,0,31.861,12.564,31.861,28.061V204"
		/>
	<path d="M52.757,203.884v-62.41c0-13.928,11.291-25.219,25.22-25.219l0,0c13.928,0,25.219,11.291,25.219,25.219v62.41"/>
	<polygon fill="#C6B302" points="253.591,99.682 109.838,99.682 24.146,99.682 24.146,91.294 253.591,91.294 	"/>
	<path fill="#D6CC80" d="M131.379,124.244c14.379,0,19.347-24.562,17.462-24.562s3.896,23.364,18.079,22.166
		s18.377-22.166,18.377-22.166s3.624,24.562,17.972,24.562s13.18-20.968,13.18-20.968s5.991,22.166,20.967,20.968
		c14.977-1.198,16.176-24.562,16.176-24.562H113.407C113.407,99.682,114.605,124.244,131.379,124.244z"/></g>

<g id="tvmovies"><rect x="12.834" y="130.326" fill="#EAD700" width="238.166" height="72.466"/>
	<path fill="#EAD700" d="M29.765,201.097c0,0,2.967-139.061,92.808-141.179c89.842-2.12,110.607,90.749,112.977,142.874
		C138.253,221.863,29.765,201.097,29.765,201.097z"/>
	<path fill="#C6B302" d="M100.731,211.312v-68.846c0-15.364,14.143-27.82,31.588-27.82l0,0c17.446,0,31.589,12.457,31.589,27.82
		v68.846"/>
	<path d="M107.317,211.197v-61.874c0-13.808,11.194-25.002,25.002-25.002l0,0c13.809,0,25.002,11.194,25.002,25.002v61.874"/></g>
</defs></svg></core-iconset-svg>
