/*
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

:host {
  overflow: hidden;
}

.splash {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/splash.svg);
}

.splash.wide {
  background-size: 512px;
}
