/*
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

::-webkit-scrollbar {
  display: none;
}

.score-panel {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.wide .card {
  width: 512px;
  margin: 64px auto 0;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.main {
  padding: 40px 16px 24px;
  background-color: #000;
  font-size: 20px;
  overflow: auto;
}

.wide .main {
  padding: 48px 24px 24px;
}

.main .big {
  font-size: 100px;
  line-height: 128px;
}

.category-info {
  padding-bottom: 16px;
}

.check-button-container {
  padding-top: 24px;
}

.bottom-bar {
  position: relative;
  height: 64px;
  line-height: 64px;
  padding: 0 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 18px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.wide .bottom-bar {
  width: 512px;
  margin: 0 auto;
  padding: 0 24px;
}

paper-fab#check {
  background-color: lightgray;
  color: #626262;
}
