/*
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

/* yellow theme */
.yellow-theme /deep/ .theme-bg, 
.yellow-theme.theme-bg {
  background-color: #ffeb3b;
  color: #616161;
}

.yellow-theme /deep/ .theme-bg-a,
.yellow-theme.theme-bg-a {
  background-color: #ffeb3b;
}

.yellow-theme /deep/ .theme-color {
  color: #616161;
}

.yellow-theme /deep/ .theme-primary-color {
  color: #ffeb3b;
}

.yellow-theme /deep/ .theme-icon {
  color: #ffeb3b;
}

.yellow-theme /deep/ .theme-border-color {
  border-color: #ffeb3b;
}

.yellow-theme /deep/ paper-progress::shadow #progressContainer {
  background-color: transparent;
}

.yellow-theme /deep/ paper-progress::shadow #activeProgress {
  background-color: #ffeb3b;
}

/* darker yellow */
.green-theme /deep/ .theme-bg,
.green-theme.theme-bg {
  background-color: #ffdb5d;
  color: #616161;
}

.green-theme /deep/ .theme-bg-a,
.green-theme.theme-bg-a {
  background-color: #ffdb5d;
}

.green-theme /deep/ .theme-color {
  color: #616161;
 }

.green-theme /deep/ .theme-icon {
  color: #1de9b6;
}

.green-theme /deep/ .theme-primary-color {
  color: #1de9b6;
}

.green-theme /deep/ .theme-border-color {
  border-color: #1de9b6;
}

.green-theme /deep/ paper-progress::shadow #progressContainer {
  background-color: transparent;
}

.green-theme /deep/ paper-progress::shadow #activeProgress {
  background-color: #1de9b6;
}

/* light yellow theme */
.red-theme /deep/ .theme-bg,
.red-theme.theme-bg {
  background-color: #f2f2b2;
  color: #616161;
}

.red-theme /deep/ .theme-bg-a,
.red-theme.theme-bg-a {
  background-color: #f2f2b2;
}

.red-theme /deep/ .theme-color {
  color: #616161;
}

.red-theme /deep/ .theme-icon {
  color: #ff5252;
}

.red-theme /deep/ .theme-primary-color {
  color: #ff5252;
}

.red-theme /deep/ .theme-border-color {
  border-color: #ff5252;
}

.red-theme /deep/ paper-progress::shadow #progressContainer {
  background-color: transparent;
}

.red-theme /deep/ paper-progress::shadow #activeProgress {
  background-color: #ff5252;
}

/* darkest yellow theme */
.blue-theme /deep/ .theme-bg,
.blue-theme.theme-bg {
  background-color: #ffe4a1;
  color: #616161;
}

.blue-theme /deep/ .theme-bg-a,
.blue-theme.theme-bg-a {
  background-color: #ffe4a1;
}

.blue-theme /deep/ .theme-color {
  color: #616161;
}

.blue-theme /deep/ .theme-icon {
  color: #03A9F4;
}

.blue-theme /deep/ .theme-primary-color {
  color: #03A9F4;
}

.blue-theme /deep/ .theme-border-color {
  border-color: #03A9F4;
}

.blue-theme /deep/ paper-progress::shadow #progressContainer {
  background-color: transparent;
}

.blue-theme /deep/ paper-progress::shadow #activeProgress {
  background-color: #03A9F4;
}

/* lightish theme */
.purple-theme /deep/ .theme-bg,
.purple-theme.theme-bg {
  background-color: #f7d580;
  color: #616161;
}

.purple-theme /deep/ .theme-bg-a,
.purple-theme.theme-bg-a {
  background-color: #f7d580;
}

.purple-theme /deep/ .theme-color {
  color: #616161;
}

.purple-theme /deep/ .theme-icon {
  color: #7e57c2;
}

.purple-theme /deep/ .theme-primary-color {
  color: #7e57c2;
}

.purple-theme /deep/ .theme-border-color {
  border-color: #7e57c2;
}

.purple-theme /deep/ paper-progress::shadow #progressContainer {
  background-color: transparent;
}

.purple-theme /deep/ paper-progress::shadow #activeProgress {
  background-color: #7e57c2;
}
