<!doctype html>
<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE
The complete set of authors may be found at http://polymer.github.io/AUTHORS
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS
-->
<html>
<head>
  <title>Star Works</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style"
        content="black-translucent" >
  <meta name="format-detection" content="telephone=no">

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" sizes="196x196" href="icons/icon-196.png">
  <link rel="apple-touch-icon" sizes="152x152" href="icons/iPad@2x.png">
  <link rel="apple-touch-icon" sizes="144x144" href="icons/Icon-72@2x.png">
  <link rel="apple-touch-icon" sizes="120x120" href="icons/iPhone@2x.png">

  <meta name="application-name" content="Quiz App">

  <!--
  Chrome 35 has old :host behavior before :host-context addition.
  Since Chrome 35 does not have HTMLImports, we can use this as a decent signal
  to force the ShadowDOM Polyfill.
  -->
  <script>
    if (!('import' in document.createElement('link'))) {
      var Platform = {flags: {shadow: true}};
    }
  </script>

  <script src="components/platform/platform.js"></script>
  <script src="components/jquery/dist/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/oauth-io/0.9.0/oauth.js"></script>


  <link rel="stylesheet" href="theme.css" shim-shadowdom>

  <!--
  <link rel="import" href="components/font-roboto/roboto.html">
  -->
  <link rel="import" href="polyfills/fonts/roboto.html">
  <link rel="import" href="components/core-icons/core-icons.html">
  <link rel="import" href="components/core-icons/av-icons.html">
  <link rel="import" href="components/core-icons/social-icons.html">
  <link rel="import" href="components/topeka-elements/topeka-datasource.html">
  <link rel="import" href="components/topeka-elements/topeka-app.html">
  <link rel="import" href="components/topeka-elements/theme.html">

  <script>
    if (navigator.serviceWorker) {
      // Register our ServiceWorker
      navigator.serviceWorker.register("sw.js");
    }
  </script>

</head>
<body>

  <template is="auto-binding">
    <topeka-datasource url="components/topeka-elements/categories.json" user="{{user}}" categories="{{categories}}" connected="{{connected}}"></topeka-datasource>
    <topeka-app fit user="{{user}}" categories="{{categories}}" connected="{{connected}}" touch-action="auto"></topeka-app>
  </template>
    <div id="luke" style="position:absolute">
      <img src="images/luke-walk-ani.gif" />
    </div>
  <script type="text/javascript">

  var obj = $("#luke");

$(document).bind('mousemove',function(ev){
obj.animate({top:ev.pageY,left:ev.pageX},{queue:false,duration:1000,easing:'linear'})});
  </script> 
</body>
</html>
