/*
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/splash.svg);
  font-family: "RobotoDraft", sans-serif;
  color: #444;
  fill: #444;
  font-weight: 400;
}

@media screen and (min-width: 900px) {
  body {
    background-size: 512px;
  }
}

topeka-app {
  min-height: 450px;
  overflow: hidden;
}
