/*
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

#drawerPanel, [drawer] {
  background-color: #000;
}

[drawer] {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[main] {
  height: 100%;
}

core-toolbar {
  background-color: #5264ae;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

core-toolbar.medium-tall {
  height: 144px;
}

core-toolbar::shadow #bottomBar {
  height: 80px;
}

.main-label {
  padding: 0 0 20px 60px;
}

/* menu */
core-menu#menu {
  padding: 8px 0;
  margin: 0;
}

/* menu item */
polyfill-next-selector { content: 'core-menu#menu core-item'; }
::content core-item, ::content core-submenu::shadow core-item {
  height: 56px;
  padding-left: 60px;
  font-size: 15px;
  color: #444;
  font-weight: normal !important;
}

polyfill-next-selector { content: 'core-menu#menu core-item.core-selected'; }
::content core-item.core-selected {
  background-color: #dedede;
}

/* card */
#card {
  display: block;
  margin: 64px 120px 60px 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  overflow: hidden;
}

#card[hidden] {
  display: none;
}

#card.move-up {
  transition: -webkit-transform 0.38s cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: transform 0.38s cubic-bezier(0.4, 0.0, 0.2, 1);
}

polyfill-next-selector { content: '.sourceButton';}
::content .sourceButton {
  position: absolute;
  z-index: 1;
}

polyfill-next-selector { content: '.sourceButton:not(.fallback)';}
::content .sourceButton:not(.fallback) {
  background-color: #fcfcfc;
  color: #666464;
  bottom: -28px;
  right: 24px;
}

polyfill-next-selector { content: '.sourceButton.fallback';}
::content .sourceButton.fallback {
  right: 24px;
  top: 13px;
}


polyfill-next-selector { content: '#drawerPanel[narrow] .sourceButton:not(.fallback)';}
#drawerPanel[narrow] ::content .sourceButton:not(.fallback) {
  right: 8px;
}

polyfill-next-selector { content: '#drawerPanel:not([narrow]) .menuButton';}
#drawerPanel:not([narrow]) ::content .menuButton {
  display: none;
}

.element-label {
  height: 80px;
  line-height: 80px;
  padding-left: 24px;
  background-color: #fff;
  letter-spacing: 0.05em;
  font-size: 24px;
  font-weight: 400;
  color: #5265a2;
}

#frame {
  display: block;
  width: 100%;
  min-height: 500px;
  border: none;
}

/* narrow layout */
#drawerPanel[narrow] [main] {
  background-color: #fff;
}

#drawerPanel[narrow] #card {
  margin: 0;
  box-shadow: none;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
}

#drawerPanel[narrow] #frame {
  min-height: 100%;
}

#drawerPanel[narrow] #frameContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
